prod_cidr          = "10.235.0.0/24"
dev_cidr           = "10.232.0.0/24"
log_retention_days = 3
state_bucket     = "inspection-vpc-tfstate-bucket"
state_region     = "us-east-2"
state_profile    = "default"
state_key_prefix = "inspection-vpc-project"
aws_profile      = "default"
aws_region       = "us-east-2"
environment      = "inspection"
project_name     = "inspection-vpc-project"
