vpc_cidr               = "10.238.0.0/24"
tgw_attach_subnet_cidr = "10.238.0.0/28"
firewall_subnet_cidr   = "10.238.0.16/28"
public_subnet_cidr     = "10.238.0.32/28"
availability_zone      = "us-east-2a"
aws_profile            = "default"
aws_region             = "us-east-2"
environment            = "inspection"
project_name           = "inspection-vpc-project"
